<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(rel="stylesheet" type="text/css" href="/styles/styles.css")
  body
    .page-wrap
      hr(class="dash")
      #top-of-gallery
        #header
          h1 _ARCHITEKT
        #about
          p(class="para") Welcome to our online profile, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovate steps. Free Architect WordPress Theme

      .pictures
        each val in picture
          .picture
            img(src=val.url)
            span #{val.author}
            span #{val.description}

      button(type="submit" onclick='newPhoto()') Add your photo!:)

  script.
    function newPhoto(){
      window.location="/gallery/new"
    }
