<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery
    link(rel="stylesheet" type="text/css" href="/styles/styles.css")
  body
    .page-wrap
      hr(class="dash")
      #top-of-gallery
        #header
          li(class="dropdown")
            h1 _ARCHITEKT
            div(class="dropdown-content")
              a(href="/gallery/" + picture.id + "/edit") Edit
              a(href="/gallery/" + picture.id + "?_method=DELETE") Delete
              a(href="/gallery") Back to Gallery
        h2 #{picture.author}

      .pictures
        .picture
          img(src=picture.url width="100%" height="100%")
          p
          span #{picture.description}
          p
          span Copyright #{picture.url}

      p
        form(method="POST" action="/gallery/" + picture.id + "?_method=DELETE")
          button(type="submit") Delete Photo
