<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Express Gallery - Login :)
    link(rel="stylesheet" type="text/css" href="/styles/styles.css")
  body
    form(action="/login" method="POST")
      div
        label Username:
        input(type="text" name="username" placeholder="Username")
      div
        label Password:
        input(type="password" name="password" placeholder="Password")
      div
        input(type="submit" value="Submit")